* {
	box-sizing: border-box;
	font-family: sans-serif;	
	color: #333333;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	align-self: stretch;

	background-color: #ffc100;
	padding: 12px 24px;
}

.header-logo {
	height: 50px;
}

.content {
	margin: 24px 0;
}
.content-header {
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.content-title {
	font-size: 28px;
	font-weight: bolder;
}
.content-body {
	display: flex;
	flex-direction: column;
	align-items: stretch;	

	margin: 24px 0;
}
.content-section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
}

.teachers {
	margin-bottom: 24px;
}
.teachers-title {
	font-size: 22px;
	font-weight: bold;

	width: 100%;
	text-align: center;
	margin-bottom: 18px;
}

.profile {
	display: flex;
	align-items: center;
	flex-direction: wrap;
	flex-wrap: wrap;
	margin-bottom: 12px;
}
.profile-picture {
	height: 60px;
	border-radius: 30px;
	margin-right: 12px;
}
.profile-name {
	font-size: 18px;
}
.profile-description {
	margin-top: 8px;
	width: 100%;
	padding-left: 72px;
}

.students-title {
	font-size: 22px;
	font-weight: bold;

	width: 100%;
	text-align: center;
	margin-bottom: 18px;
}
